<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="org.palladiosimulator.blockchainsystems Target Platform" sequenceNumber="2">
	<locations>
		<location includeDependencyDepth="none" includeSource="true" missingManifest="generate" type="Maven">

			<feature id="maven.libs" label="Maven Libraries" version="1.0.0.qualifier">

   

   

   
				<description url="http://www.example.com/description">
      [Enter Feature Description here.]
   </description>
				<copyright url="http://www.example.com/copyright">
      [Enter Copyright Description here.]
   </copyright>
				<license url="http://www.example.com/license">
      [Enter License Description here.]
   </license>
			</feature>
			<dependencies>
				<dependency>
					<groupId>org.jetbrains.kotlin</groupId>
					<artifactId>kotlin-osgi-bundle</artifactId>
					<version>2.2.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.jetbrains.kotlinx</groupId>
					<artifactId>kotlinx-serialization-json</artifactId>
					<version>1.9.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>